/*banner部分*/
.banner {
	width: 100%;
	height: 460px;
	overflow: hidden;
	position: relative;
}

.banner .pics li {
	position: absolute;
	float: left;
	width: 1920px;
	top: 0;
	left: 50%;
	margin-left: -960px;
	display: none;
}

.banner .pics li.active {
	display: block;
}

.banner .ctrl {
	position: absolute;
	height: 12px;
	left: 50%;
	width: 130px;
	margin-left: -65px;
	bottom: 20px;
}

.banner .ctrl li {
	float: left;
	width: 12px;
	height: 12px;
	margin: 0 7px;
	border-radius: 50%;
	opacity: 0.5;
	background-color: #fff;
}

}

/*content部分*/
.content {
	width: 100%;
	padding: 50px 0 57px 0;
	background: url("../img/mainbg.jpg") no-repeat center bottom;
	overflow: hidden;
}

.content .products {
	position: relative;
	margin-top: 50px;
	height: 229px;
	border-bottom: 1px solid #DBE1E7;
}

.content .products li {
	float: left;
	height: 180px;
	width: 218px;
	margin-right: 42px;
}

.content .products li.last {
	margin-right: 0;
}

.content .products li a img {
	width: 218px;
	height: 128px;
}

.content .products li a {
	display: block;
	height: 200px;
	text-align: center;
}

.content .products li a h3 {
	color: #444895;
	font-weight: 700;
	font-size: 14px;
	line-height: 31px;
}

.content .products li a:hover {
	color: #fff;
	background-color: #38b774;
}

.content .products li a span {
	color: #38B774;
	padding-right: 12px;
	font-size: 12px;
	line-height: 26px;
	background: url("../img/images/arrow.png") no-repeat right;
}

.content .products li a:hover span {
	color: #fff;
	background: url("../img/images/arrow2.png") no-repeat right;
}

.content .products li a:hover img {
	/*透明度*/
	opacity: 0.8;
	/*兼容ie浏览器*/
	filter: alpha(opacity=80);
}

.content .products ol {
	background-color: #fff;
	position: absolute;
	bottom: -5px;
	padding: 0 18px;
	width: 100px;
	left: 50%;
	margin-left: -50px;
}

.content .products ol li {
	height: 11px;
	width: 11px;
	float: left;
	margin: 0 7px;
	border-radius: 50%;
	background: #B5C0CB;
}

.content .products ol li.current {
	background-color: #2FBC71;
}

.company_info {
	height: 500px;
	margin-top: 53px;
}

.company_info .news_left {
	position: relative;
	float: left;
	height: 310px;
	width: 500px;
}

.company_info .news_left .more a{
	display: block;
	width: 64px;
	height: 26px;
	text-align: center;
	line-height: 27px;
	color: #30C3BC;
	border-radius: 5px;
	font-size: 12px;
	border: 1px solid #33B972;
}

.company_info .news_left .more a:hover {
	color: #fff;
	background-color:  #38b774;
}

.company_info .news_left .more {
	position: absolute;
	top: 41px;
	right: 216px;
}

.company_info .news_left .more span {
	position: absolute;
	bottom: 5px;
	right: 7px;
}

.news_left .boya_news .headerlines {
	width: 460px;
	position: absolute;
	top: 110px;
	left: 0;
	margin-top: 10px;
}

.news_left .headerlines li a {
	position: relative;
	display: block;
	height: 29px;
	color: #444866;
	font-size: 14px;
	line-height: 29px;
	padding: 9px 0;
	border-bottom: 1px solid #DBE1E7;
}

.news_left .headerlines li a:hover {
	color: #32B976;
}

.news_left .headerlines li span {
	position: absolute;
	color: #CAC4CF;
	right: 5px;
	top: 7.5px;
}

.company_info .jobs_right {
	position: relative;
	height: 310px;
	width: 500px;
	float: left;
}

.company_info .jobs_right h2 {
	position: absolute;
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	width: 112px;
	height: 28px;
	line-height: 28px;
	top: 46px;
	left: 80px;
}

.company_info .jobs_right p {
	position: absolute;
	top: 77px;
	left: 81px;
	color: #fff;
	width: 112px;
	line-height: 18px;
	height: 18px;
	font-size: 12px;
}

.company_info .jobs_right .more a{
	display: block;
	width: 64px;
	height: 26px;
	text-align: center;
	line-height: 27px;
	color: #fff;
	border-radius: 5px;
	font-size: 12px;
	border: 1px solid #fff;
}

.company_info .jobs_right .more a:hover {
	color: #30C3BC;
	background-color:  #fff;
}

.company_info .jobs_right .more {
	position: absolute;
	top: 41px;
	right: 216px;
}

.company_info .jobs_right .more span {
	position: absolute;
	bottom: 5px;
	right: 7px;
}

.company_info .jobs_right h3 {
	position: absolute;
	top: 115px;
	left: 20px;
	color: #fff;
	height: 20px;
	font-weight: 700;
}

.company_info .jobs_right .post {
	position: absolute;
	top: 130px;
	left: 20px;
}

.company_info .jobs_right .post li {
	border-bottom: 1px solid #6FDEA3;
	width: 305px;
	padding: 6px 0;
}

.company_info .jobs_right .post a {
	display: block;
	color: #fff;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
}

/*buttom部分*/
.webinfo {
	position: relative;
	width: 100%;
	height: 192px;
	background-color: #191D3A;
}

.webinfo .nav {
	width: 215px;
	float: left;
}

.webinfo .nav li {
	float: left;
	width: 57px;
	height: 14px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	padding: 0 6px;
	border-right: 1px solid #6C544F;
}

.webinfo .nav li.frist {
	padding-left: 0px;
}

.webinfo .nav li a {
	display: block;
	color: #6C6E7E;
}

.webinfo .nav li a:hover {
	color: #fff;
}

.webinfo .copyright_info {
	position: absolute;
	top: 40px;
	left: 450px;
}

.webinfo .copyright {
	position: absolute;
	top: 90px;
	left: 450px;
}

.webinfo .copyright p {
	height: 14px;
	width: 470px;
	font-size: 12px;
	line-height: 14px;
	color: #6C6E7E;
}

.webinfo .copyright a {
	color: #6C6E7E;
}

.webinfo .copyright a:hover {
	color: #fff;
}

.webinfo .permits {
	position: absolute;
	top: 120px;
	left: 450px;
	height: 52px;
	width: 780px;
}

.webinfo .permits span {
	font-size: 12px;
	color: #6C6E7E;
	line-height: 52px;
}

.webinfo .permits span a {
	display: block;
	position: absolute;
	left:730px;
	top: 0;
}